@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body
{
    font-family: 'Open Sans', sans-serif;
}
.container
{
    width: 40rem;
    height: 35rem;
    margin: 1rem auto;
    text-align: center;
    background-color: #303030;
    color: #ffffff;
    border-radius: 1rem;
}

.form
{   
    padding-top: 2rem;
}

h1
{
    font-size: 3rem;
    color: deeppink;
    padding-top: 2rem;
}

.text-input
{
    display: block;
    margin: 1rem auto;
    width: 15rem;
    padding: 0 1rem;
    height: 2rem;
    border-radius: 0.5rem;
    border: none;
    background-color: pink;
}

.text-input:focus
{
    outline: none;
}

.btn
{
    margin-top: 1.5rem;
    width: 11rem;
    height: 2rem;
    border-radius: 0.5rem;
    border: none;
    background-color: deeppink;
}

.not-signedin
{
    display: block;
    color: black;
    margin-top: 1rem;
}

.not-signedin a
{
    color: black;
}

.users-data
{
    margin: 1rem auto;
    border-collapse: collapse;
    max-width: 100%;
    color: black;
    border-radius: 1rem;
}

.users-data .name
{
    width: 11rem;
}

.users-data .email
{
    width: 11rem;
}

.users-data .created-at
{
    width: 11rem;
}

.users-data tr:first-child
{
    font-size: 1.5rem;
    font-weight: 600;
    background-color: deeppink;
}

.users-data tr:not(:first-child)
{
    background-color: pink;
}

.users-data td
{
    height: 2rem;
}

.users-data .last-update
{
    background-color: deeppink;
}